html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

.header {
    grid-area: "header";
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.brand a {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.header-links a {
    color: #ffffff;
}

.main {
    grid-area: "main";
}

.footer {
    grid-area: "footer";
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home Screen */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: 0.1rem solid #c0c0c0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name {
    font-size: 2rem;
    font-weight: bold;
}

.product-brand {
    font-size: 1.2rem;
    color: #808080;
}

.product-price {
    font-size: 2rem;
    font-weight: bold;
}

.product-image {
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating {
    margin-bottom: 1rem;
}

/* Sidebar */

.brand button {
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-close-button {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    border-radius: 50%;
    border: 0.1rem solid #000000;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    padding-top: 0;
    font-size: 2rem;
    cursor: pointer;
}
